* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 62.5%;
    position: relative;
}

.links {
    display: flex;
    font-size: 1.7rem;
    list-style: none;
    
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgb(13, 13, 32);
   
}









.header {
    margin-bottom: 2rem;
    position: fixed;
    width: 100%;
}


h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 5rem;
}
.about {
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
}
.about ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style:outside;
    line-height: 1.4;
}
h3 {
    font-size: 2.5rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid rgb(13, 13, 32);
    display: inline-block;
    font-weight: 500;
}
button {
    cursor: pointer;
}
button:link,
button:visited {
    color: white;
    text-decoration: none;
    transition: all 1px;
}
button:hover,
button:active{
    color: #502635;
    box-shadow: inset 0px 0px 4px black;
    background-color: white;
}

li a:link, 
li a:visited {
   color: white;
   text-decoration: none;
   transition: all 1px;
   background-color: black;
   border-radius: 2px;
}
li a:hover, 
li a:active {
   color: #502635;
   box-shadow: inset 0px 0px 4px black;
   background-color: white;
}
#main {
    height: 100vh;
    padding-top: 5rem;
}
.game {
    margin:0 auto;
    border-radius: 0.9rem;
    width: 65%;
    height: 30rem;
    color: white;
    
}
.act {
    background-color: rgba(24, 24, 46, 0.541);
    display: inline-block;
    height: 1rem;
    width: 4rem;
    border-radius: 1px solid black;
}
.winner {
    background-color: green;
    display: inline-block;
    height: 1rem;
    width: 4rem;
    border-radius: 1px solid black;
}
.win1 {
     background: linear-gradient(90deg, green 50%, rgb(13, 13, 32) 50%);
}
.win2 {
     background: linear-gradient(90deg, rgb(13, 13, 32) 50%, green 50%);
}
.color1 {
    background: linear-gradient(90deg, rgb(13, 13, 32) 50%, rgba(24, 24, 46, 0.541) 50%);
}
.color2 {

    background: linear-gradient(90deg, rgba(24, 24, 46, 0.541) 50%, rgb(13, 13, 32) 50%);
}


.flex-row-2 {
    display: flex;
    align-items:center;
    display: flex;
    border-style: none;
    border-radius: 3rem;
    color: rgb(35, 35, 56);
    font-size: 1.3rem;
    justify-content: center;
    background-color: white;
}

.flexi {
    display: flex;
    justify-content: center;
}
.new-game {
    margin: 1.5rem; 
    padding: 0.5rem 1.2rem;
    display: inline-block;
    text-transform: uppercase;
} 


.new-game p {
    display: inline-block;
    margin-left: 0.4rem;
    
}
.players {
    display: flex;
    gap: 9rem;
    font-size: 3rem;
    color: white;
    justify-content:space-around;
    align-items: center;
    text-transform: uppercase;
}
.total-dice {
    display: flex;
    gap:3rem;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}
.img-0 {
    width: 4rem;
}

.dice {
    width: 5rem;
}

.flex-row-3 {
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
.roll {
    margin-bottom: 1rem;
    padding: 0.5rem 1.2rem;
    gap: 0.4rem;
    text-transform: uppercase;
}

.flex-column-2 {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    color: rgb(35, 35, 56)
    
}
.roll-hold {
    display: flex;
    flex-direction: column;
    
}

#hold {
    display: flex;
    justify-content: center;
}
.holder {
    font-size: 1.3rem;
    background-color: white;
    color: rgb(35, 35, 56);
    border-radius: 3rem;
    border-style: none;
    padding: 0.4rem 1.2rem;
    text-transform: uppercase;
}
.holder p {
    display: inline-block
}


/*******************************/
/* Media quary max-width 1200px */
/*******************************/


@media (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
    .game {
        width: 80%;
    }
}



/*******************************/
/* Media quary max-width 840px */
/*******************************/


@media (max-width: 52.5em) {
    html {
        font-size: 59.25%;
    }
    .game {
        width: 95%;
    }
}

/*******************************/
/* Media quary max-width 608px */
/*******************************/


@media (max-width: 37em) {
    
    .game {
        width: 95%;
    }
}


/*******************************/
/* Media quary max-width 608px */
/*******************************/


@media (max-width: 23.1em) {
    html {
        font-size: 53.1%;
    }
    .flex-row-2 {
        padding: 0.34rem 1rem;
        font-size: 1.25rem;
       
    }
    
    
    .new-game {
        
        margin: 1.5rem; 
        padding: 0.34rem 1rem;
        display: inline-block;
    } 
    
    
    .new-game p {
        display: inline-block;
        margin-left: 0.1rem;
    }
    .players {
        
        gap: 8rem;
        font-size: 2rem;
        
    }
    .total-dice {
        display: flex;
        gap:2.5rem;
        font-size: 4.5rem;
        
    }
    .img-0 {
        width: 3.5rem;
    }
    
    .flex-row-3 {
        font-size: 1.2rem;
    }
    .roll {
        margin-bottom: 0.5rem;
        padding: 0.4rem 1.1rem;
        gap: 0.2rem;
    }
    
    .flex-column-2 {
        
        gap: 1.6rem;
        background-color: white;
        padding: 0.5rem 2rem;
        
    }
    
    
    .holder {
        font-size: 1.3rem;
        background-color: white;
        color: rgb(35, 35, 56);
        border-radius: 3rem;
        border-style: none;
        padding: 0.3rem 1.1rem;
    
    }
    .holder p {
        display: inline-block
    }
}
.next:link {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    font-size: 2rem;
}





