* {
    box-sizing: border-box;
}
body {
    margin: auto auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#new {
    padding-top: 20px;
}

section {
    width: 700px;
    height: 350px;
    margin: 50px 50px;
    border: 5px solid rgb(224, 104, 104);
    border-radius: 20%;
    background: linear-gradient(90deg, rgb(179, 174, 174) 50%, white 50%);
    text-align:center;
}
#flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;

}
.score0 {
    padding-right : 245px;
}
.player0 {
    margin-right : 245px;
}
.flex h1 {
    color: rgb(224, 104, 104);
}

#roll-hold {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.divCurrent {
    background-color: rgb(224, 104, 104);
    height: 73px;
    width: 85px;
    
}
#currentScore0, #currentScore1  {
    color: white;
}
#image {
    position: absolute;
    height: 55px;
    width: 55px;
    object-fit:contain;
    background-size: cover;
}
.score0, .score1 {
    font-family:'Courier New', Courier, monospace;
}

.dot {
    background-color: brown;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 5px;
}
.player0, .player1 {
    display: flex;
    flex-direction: row;
    
}
.winner {
    font-weight: 900px;
    color: rgb(224, 104, 104);
    font-size: 30px;
    
}
.divCurrent {
    border-radius: 20%;
}
i {
    padding-right: 5px;
    color:green
}